<!-- About Section -->
<section class="features-section py-24 min-h-screen">
  <div class="container-fluid font-light flex flex-col">
    <h2 class="text-fluid-h2 feature-title leading-none">
      Soundscapes is redefining music bubbles
    </h2>

    <!-- General -->
    <span class="font-mono text-base mt-24">OBJECTIVE</span>
    <div class="flex w-full h-[1px] bg-muted"></div>
    <div class="grid md:grid-cols-2 gap-10 mt-8">
      <div class="feature-card">
        <img
          src="/img/preview-2.png"
          alt="Kyle Tran"
          class="w-full h-full object-cover rounded-lg border-[1px] border-muted"
        />
      </div>
      <div class="feature-card">
        <p class="text-2xl md:text-3xl font-light leading-snug">
          Music discovery has been overrun by algorithms and endless scrolling.
          We believed there had to be a more streamlined method for finding new
          songs. That's why we created Soundscapes, a minimal approach to
          musical exploration. Soundscapes crafts seamless arrangements that
          guide you through genres, artists, and eras with uninterrupted flow.
          We're making music exploration feel simple again.
        </p>
      </div>
    </div>

    <!-- Founder -->
    <span class="font-mono text-base mt-24">FOUNDER</span>
    <div class="flex w-full h-[1px] bg-muted"></div>
    <div class="grid md:grid-cols-2 gap-10 mt-8">
      <div class="feature-card">
        <p class="text-2xl md:text-3xl font-light leading-snug">
          Kyle Tran, founder Soundscapes, led software development at
          UC&nbsp;Irvine's Office of Information Technology where he developed
          research tools to optimize student curricula.<br /><br />He is a
          creative developer with a passion for music and design, and has worked
          on projects for Cornell University and hackathons across the country.
        </p>
        <a
          href="https://www.linkedin.com/in/kylebtran"
          class="btn-primary mt-10"
        >
          <div class="w-[6px] h-[6px] bg-background rounded-full"></div>
          <span>LINKEDIN</span>
        </a>
      </div>
      <div class="feature-card">
        <img
          src="/img/kylebtran.png"
          alt="Kyle Tran"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
    </div>
  </div>
</section>

<!-- Spacer -->
<div class="min-h-40"></div>
