<!-- About Section -->
<section class="features-section py-24 min-h-screen">
  <div class="container-fluid font-light flex flex-col">
    <h2 class="text-fluid-h2 feature-title leading-none">
      Have questions or feedback about Soundscapes?<br />Let's get in touch!
    </h2>

    <!-- Email -->
    <span class="font-mono text-base mt-24">EMAIL</span>
    <div class="flex w-full h-[1px] bg-muted"></div>
    <div class="grid gap-10 mt-8">
      <div class="feature-card">
        <p class="text-2xl md:text-3xl font-light leading-snug">
          We're always looking to improve Soundscapes. If you encounter any
          issues, please let us know! We're also open to suggestions for new
          features and improvements.<br /><br />Contact us at
          <a
            href="mailto:hello@kylebtran.com"
            class="text-blue-500 font-normal hover:underline"
            >hello@kylebtran.com</a
          >
        </p>
      </div>
      <!-- <div class="feature-card">
        <img
          src="/img/kylebtran.png"
          alt="Kyle Tran"
          class="w-full h-full object-cover rounded-lg"
        />
      </div> -->
    </div>
  </div>
</section>

<!-- Spacer -->
<div class="min-h-20"></div>
