<div
  class="container-fluid text-center text-3xl font-light flex flex-col min-h-screen justify-center"
>
  <span>
    Have questions or feedback about Soundscapes?<br />Let's get in touch!
  </span>
  <span class="my-20">
    Contact us at
    <a
      href="mailto:hello@kylebtran.com"
      class="text-blue-500 font-normal hover:underline"
      >hello@kylebtran.com</a
    >
  </span>
</div>
