<!-- Titles -->
<div
  class="grid grid-cols-4 relative items-center text-base font-light container-fluid no-padding mt-16"
>
  <div class="flex col-span-2 items-center px-4">TRACK / TITLE</div>
  <div class="flex px-4">
    <div class="-translate-x-10">ARTIST</div>
  </div>
  <div class="flex justify-between px-4">
    <div class="-translate-x-[99px]">ALBUM</div>
    <div>CACHE</div>
  </div>
</div>

<!-- Results -->
<%- include('partials/results', { results, demo }) %>

<!-- Pagination -->
<%- include('partials/pagination', { meta }) %>

<!-- Spacer -->
<div class="min-h-80"></div>

<!-- Searchbar -->
<div
  class="container-fluid fixed bottom-0 left-1/2 -translate-x-1/2 bg-background rounded-t-full pb-8 flex gap-4"
>
  <input
    type="text"
    id="search"
    class="w-full p-4 search-input text-xl border bg-[#E2E2E2] rounded-full placeholder-[#6B7280]"
    value="<%= searchQuery %>"
    placeholder="Search by track, artist, or album..."
    autocomplete="off"
  />
  <button
    id="play"
    class="bg-text text-background min-w-[192px] font-mono flex justify-center items-center rounded-lg"
  >
    PLAY
  </button>
</div>

<script>
  window.initialMeta = <%- JSON.stringify(meta) %>;
</script>
<script src="/js/search.js" defer></script>
