<nav class="w-full">
  <!-- Vertical responsiveness entirely dependent on height clamp -->
  <div class="container-fluid no-padding h-[clamp(56px,8vh,84px)] relative">
    <div class="grid grid-cols-4 h-full items-center font-mono font-light">
      <div class="flex justify-start">
        <a
          href="/"
          class="p-4 <%= title === 'Soundscapes' ? 'font-normal' : '' %> hidden md:block"
          >HOME</a
        >
        <a href="/" class="h-8 md:hidden ml-4">
          <img
            src="/img/supplyframe-remake-logo.svg"
            alt="Logo"
            class="h-full object-contain"
          />
        </a>
      </div>
      <div class="flex justify-start">
        <a
          href="/about"
          class="p-4 <%= title === 'About' ? 'font-normal' : '' %> hidden md:block"
          >ABOUT</a
        >
      </div>
      <div class="flex justify-end">
        <a
          href="/contact"
          class="p-4 <%= title === 'Contact' ? 'font-normal' : '' %> hidden md:block"
          >CONTACT</a
        >
      </div>
      <div class="flex justify-end">
        <a
          href="/search"
          class="p-4 <%= title === 'Search' ? 'font-normal' : '' %>"
          >SEARCH</a
        >
      </div>
    </div>

    <!-- Logo -->
    <div class="absolute-center h-full md:flex items-center hidden">
      <a href="/" class="h-1/2">
        <img
          src="/img/supplyframe-remake-logo.svg"
          alt="Logo"
          class="h-full object-contain"
        />
      </a>
    </div>
  </div>
</nav>
